<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DalAssemblyName" value="stuManage"/>
		<add key="connString" value="server=(local);database=学生宿舍管理系统;uid=sa;pwd=666666"/>
  </appSettings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>